<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title"><%=infoUser.fullname%></h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><%=infoUser.email%></p>
                    </div>
                </div>
                <div class="card mt-4" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Bạn có thể biết</h5>
                    </div>
                    <%if(listUser){%>
                        <%if(listUser.length > 0){%>
                            <ul class="list-group list-group-flush">
                                <%listUser.forEach(userGuest =>{%>
                                    <%var arrObjIDFriends = infoUser.friends.map(item => item._id.toString())%>
                                    <%var arrObjIDGuestRequest = infoUser.guestRequest.map(item => item._id.toString())%>
                                    <%if(!arrObjIDFriends.includes(userGuest._id.toString()) && !arrObjIDGuestRequest.includes(userGuest._id.toString())){%>
                                        <li class="list-group-item">
                                            <%=userGuest.fullname%> | <%=userGuest.email%>
                                            <%if(infoUser.friendsRequest.includes(userGuest._id.toString())){%>
                                                <br>
                                                <a class="btn btn-danger btn-sm mt-2" href="/user/remove-request/<%= userGuest._id %>">Hoàn tác</a>
                                            <%}else{%>
                                                <br>
                                                <a class ="btn btn-primary btn-sm mt-2" href="/user/add-friend/<%= userGuest._id %>">Kết bạn</a>
                                            <%}%>
                                        </li>
                                    <%}%>                                    
                                <%})%>
                            </ul>
                        <%}%>
                    <%}%>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Danh sách yêu cầu</h5>
                    </div>
                    <%if(infoUser.guestRequest){%>
                        <%if(infoUser.guestRequest.length > 0){%>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Bạn có <b><%= infoUser.guestRequest.length %></b> yêu cầu kết bạn</li>
                                <%infoUser.guestRequest.forEach(userGuest =>{%>
                                    <li class="list-group-item">
                                        <%=userGuest.fullname%> | <%=userGuest.email%>
                                        <br>
                                        <a class="btn btn-success btn-sm mt-2" href="/user/confirm-friend/<%= userGuest._id %>">Xác nhận</a>
                                        <a class="btn btn-warning btn-sm mt-2 ml-3" href="/user/decline-friend/<%= userGuest._id %>">Từ chối</a>
                                    </li>
                                <%})%>
                            </ul>
                        <%}else{%>
                            <span style="padding: .75rem 1.25rem">Chưa có yêu cầu</span>
                        <%}%>
                    <%}%>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">Danh sách bạn</h5>
                    </div>
                    <%if(infoUser.friends){%>
                        <%if(infoUser.friends.length > 0){%>
                            <ul class="list-group list-group-flush">
                                <%infoUser.friends.forEach(userGuest =>{%>
                                    <li class="list-group-item">
                                        <%=userGuest.fullname%> | <%=userGuest.email%>
                                        <br>
                                        <a class="btn btn-dark btn-sm mt-2" href="/user/remove-friend/<%= userGuest._id %>">Huỷ kết bạn</a>
                                    </li>
                                <%})%>
                            </ul>
                        <%}else{%>
                            <span style="padding: .75rem 1.25rem">Chưa có bạn bè</span>
                        <%}%>
                    <%}%>
                </div>
            </div>
        </div>        
    </div>
</body>
</html>